* text=auto !eol
/Makefile -text
/config.xml -text
/at_xml_configs/config.xml -text
/at_xml_configs/config_chunking.xml -text
/at_xml_configs/config_chunking_IBM.xml -text
/at_xml_configs/config_gpfs.xml -text
/at_xml_configs/config_lustre.xml -text
src/autotuner.h -text
src/autotuner_hdf5.c -text
src/autotuner_hdf5_backup_Apr03.c -text
src/autotuner_hdf5_static.c -text
